<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="create"></ion-icon>
      Agregar Articulo
    </ion-title>

    <ion-button slot="end" color="danger" (click)="closeModal()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item lines="none">
      <ion-thumbnail style="margin: 5px auto 15px auto; width: 90%; max-width: 100px; height: 90%; max-height: 100px;">
        <img [src]="articulo.image">
      </ion-thumbnail>
    </ion-item>

    <div class="ion-text-center">
      <ion-text>
        <strong>
          Subir imagen
        </strong>
      </ion-text>
    </div>

    <ion-item>
      <input type="file" accept="image/png, image/jpeg, image/jpg" style="margin: auto;" (change)="cambiarImagen($event)">
    </ion-item>
    
    <ion-item>
      <ion-icon name="library" slot="start"></ion-icon>
      <ion-label>
        <strong>
          Nombre
        </strong>
      </ion-label>
      <ion-input placeholder="playera" type="text" [(ngModel)]="articulo.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="cash" slot="start"></ion-icon>
      <ion-label>
        <strong>
          Precio
        </strong>
      </ion-label>
      <ion-input placeholder="0.00" type="number" min="0" [(ngModel)]="articulo.precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="cube" slot="start"></ion-icon>
      <ion-label>
        <strong>
          Cantidad
        </strong>
      </ion-label>
      <ion-input placeholder="1" type="number" min="0" [(ngModel)]="articulo.cantidad"></ion-input>
    </ion-item>

  </ion-list> 

</ion-content>

<ion-footer>
  <ion-button 
    expand="block" 
    [disabled] = "(articulo.nombre && articulo.cantidad && articulo.precio)? 'false': 'true'"
    (click)="agregarArticulo()">
    Agregar
  </ion-button>
</ion-footer>