<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Inicio" color="success">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Articulos">
      <ion-icon name="library"></ion-icon>
      <ion-label>Articulos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Carrito">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Reporte">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Reporte</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
