<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart"></ion-icon>
      <strong>
        Carrito
      </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card style="width: 90%; margin: 10px auto 10px auto;">

    <ion-card-content>

      <ion-list>

        <div *ngFor="let articulo of listaDeArticulos">

          <ion-item>
    
            <ion-thumbnail slot="start">
              <img [src]="articulo.data.image">
            </ion-thumbnail>
      
            <ion-label>
              <h3>
                <strong>
                  {{articulo.data.nombre}}
                </strong>
              </h3>

              <p>
                <ion-badge color="success">
                  <ion-icon name="pricetag"></ion-icon>
                  ${{articulo.data.precio}} c/u
                </ion-badge>
              </p>

              <p>
                <ion-badge color="secondary">
                  <ion-icon name="cube"></ion-icon>
                  {{articulo.data.enCarrito}} Unidades
                </ion-badge>
              </p>

              <p>
                <ion-badge color="warning">
                  <ion-icon name="cash"></ion-icon>
                  Total: $ {{articulo.data.enCarrito * articulo.data.precio}} 
                </ion-badge>
              </p>

              <div *ngIf="!platform.is('desktop')">

                <p *ngIf="articulo.data.enCarrito > articulo.data.cantidad">
                <ion-chip color="warning">
                  <ion-icon name="alert-circle"></ion-icon>
                  <ion-label>Unidades insuficientes</ion-label>
                </ion-chip>
                </p>
      
                <ion-button slot="end" color="danger" (click)="removerDelCarrito(articulo)" expand="block">
                  <ion-icon name="close" slot="icon-only"></ion-icon>
                  Remover
                </ion-button>
              </div>

            </ion-label>

            <div *ngIf="platform.is('desktop')">

              <ion-chip color="warning" *ngIf="articulo.data.enCarrito > articulo.data.cantidad">
                <ion-icon name="alert-circle"></ion-icon>
                <ion-label>Unidades insuficientes</ion-label>
              </ion-chip>
    
              <ion-button slot="end" color="danger"(click)="removerDelCarrito(articulo)">
                <ion-icon name="close" ></ion-icon>
                Remover
              </ion-button>
            </div>

          </ion-item>
    
        </div>
      
      </ion-list>

    </ion-card-content>    

  </ion-card>

  <ion-card style="width: 75%; margin: 10px auto 10px auto;">
    <ion-card-content>
      <ion-label>
        <h1 class="ion-text-center">
          Total: <strong>${{total}}</strong>
        </h1>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card style="width: 75%; margin: 10px auto 10px auto;">
    <ion-card-content>
      <ion-button 
        expand="full" 
        color="success" 
        [disabled]="(listaDeArticulos.length > 0)? 'false' : 'true'"
        (click)="venderArticulos()">
        <ion-icon name="cash"></ion-icon>
        Vender todo
      </ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>
